# Dependencias de Node
node_modules/

# Variables de entorno
.env

# Archivos de Git
.git
.gitignore

# Archivos temporales o de caché de IDEs (ej. VS Code)
.vscode/
*.swp
*.bak
*~
*.log

# Archivos de prueba o de desarrollo si los tuvieras
test/
tests/
coverage/

# Ignorar los propios archivos de Docker para la construcción de la imagen
Dockerfile
docker-compose.yml
.dockerignore

# Ignorar directorios de compilación/transpilación si usas TypeScript, Babel, etc.
dist/
build/